.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),url('fonts/flexslider-icon.woff') format('woff'),url('fonts/flexslider-icon.ttf') format('truetype'),url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.flexslider {
    margin: 0;
    padding: 0;
}

    .flexslider .slides > li {
        display: none;
    }

    .flexslider .slides img {
        width: 100%;
        display: block;
    }

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flexslider {
    margin: 0 0 10px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: url(/images/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: -36px;
}

.flex-direction-nav .flex-prev {
    left: -36px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

    .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
        opacity: 1;
    }

.flex-direction-nav .disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

    .flex-pauseplay a:before {
        font-family: "flexslider-icon";
        font-size: 20px;
        display: inline-block;
        content: '\f004';
    }

    .flex-pauseplay a:hover {
        opacity: 1;
    }

    .flex-pauseplay a.flex-play:before {
        content: '\f003';
    }

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

    .flex-control-nav li {
        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

    .flex-control-paging li a:hover {
        background: #333;
        background: rgba(0,0,0,0.7);
    }

    .flex-control-paging li a.flex-active {
        background: #000;
        background: rgba(0,0,0,0.9);
        cursor: default;
    }

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

    .flex-control-thumbs li {
        width: 25%;
        float: left;
        margin: 0;
    }

    .flex-control-thumbs img {
        width: 100%;
        display: block;
        opacity: .7;
        cursor: pointer;
    }

        .flex-control-thumbs img:hover {
            opacity: 1;
        }

    .flex-control-thumbs .flex-active {
        opacity: 1;
        cursor: default;
    }

.flexslider-container {
    overflow: hidden;
    position: relative;
}

    .flexslider-container .flexslider ul.flex-direction-nav li, #product-detail #tab-1 .flexslider ul.flex-direction-nav li {
        list-style-image: none !important;
        list-style: none !important;
    }

#product-detail .flexslider ul li, #slider ul li, .mainSlides ul li {
    margin-left: 0;
}

.flexslider ul li.flexslider-content-slide {
    position: relative;
}

.flexslider ul li span.flex-caption {
    background-color: #5780ae;
    bottom: 0;
    display: block;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    padding: 2% 5%;
    position: absolute;
    width: 90%;
}

    .flexslider ul li span.flex-caption.no-content {
        display: none;
    }

    .flexslider ul li span.flex-caption p {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 10px;
        font-weight: normal;
        color: #fff;
        font-style: normal;
        margin: 0;
        display: block;
        text-align: center;
    }

.carouselSlides img {
    display: block;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: .5;
    cursor: pointer;
}

    .carouselSlides img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }

.carouselSlides .flex-active-slide img {
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    cursor: default;
}
